<div class="container">

  <header>
    <h1>Getting into realtime web.</h1>
  </header>

  <input type="text" class="nick__input">
  <button class="nick__set">Set your Nick</button>

  <div class="chat__entries"></div>
  <div class="chat__controls">
    <input type="text" class="chat__controls__input">
    <button class="chat__controls__submit">Send</button>
  </div>

  <div class="index__main">

  </div>

</div>
