<!doctype html>
<html>

<head>

  <title>Sockets Playground</title>

  <!-- Bootstrap, Font Awesome, and our Compiled SCSS > CSS File -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/compiled-master.css">

  <!-- Dependencies: jQuery, Socket.io -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <!-- Javascript Files -->
  <script src="javascript/master.js"></script>
</head>

<body>
	
  <% include index.ejs %>

<script src="//localhost:35729/livereload.js"></script>
</body>

</html>